*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    min-height: 100vh;  
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
     width: 25px;
     cursor: pointer;
     display: none;
}
nav{
    
   flex: 1;
   text-align: right;
    
}

nav ul li{
    list-style-type: none ;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
nav ul li a:hover{
    color: #ff5ea2;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2 {
    font-size: 30px;
}
.col-1 h3 {
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px 0;
}
.col-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}
.col-1 h4{
    margin: 30px 0 ;
    font-size: 20px;
}
.btn{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527 );
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
.btn img{
    width: 30px;
    display: none;
}
.btn:hover img{
   
    display: block;
}
.btn:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-1:after{
    content: "";
    width: 10px;
    height: 57%;
    background: linear-gradient(to right, #ff469f, #ff6062);
    position: absolute; 
    top: 8px;
    left: -40px;
}
.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 .controller{ 
    width: 100%;
}

.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, #fb5283, #ff3527 );
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translatex(150px);
}
.add-btn{

    text-align: center;
    color:#fff;
    cursor: pointer;
}
.add-btn img{
    width: 35px;
    margin-bottom: 5px;
}
.social-icons{
    text-align: center;
}
.social-icons img{
    height: 13px;
    margin: 20px;
    cursor: pointer;
}


@media only screen and (max-width:700px)
{
    nav ul {
        width: 100%;
        position: absolute;
        top: 75px;
        left: 0;
        background: linear-gradient(to right, #ff469f, #ff6062);
        z-index: 2;
    }
    nav ul li {
        display: block;
        margin-top: 10px ;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
       
        display: block;
   }
   #menuList{
       overflow: hidden;
       transition: 0.5s;
   }
   .row {
    flex-direction: column-reverse;
    margin: 103px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .controller{ 
        width: 65%;
    }
    .color-box{
        transform: translatex(60px);
    }
}